@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right,rgb(25, 0, 255),5%,#144673,#0F3759);
}
main{
    background-color:rgb(191, 177, 255);
    width: 500px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 50px;
}
p{
    text-align: justify;
    
}